<%= render 'layouts/navbar' %>

<h1>Hello <%= current_user.email %>!</h1>

<ul id="questions">
  <% @questions.each do |question| %>
    <%= render question %>
  <% end %>
</ul>

<div id="new_form">
  <h2>Ask a new question:</h2>
  <%= render 'form' %>
</div>
