<%= render 'layouts/navbar' %>

<h1>Hello <%= current_user.email %>!</h1>

<% if @questions.all.any? %>
  <ul>
    <% @questions.each do |question|%>
      <li><%= link_to question.title, question_path(question) %></li>
    <% end %>
  </ul>
<% else %>
<p>
  There are no questions yet!
</p>
<% end %>

<h2>Ask a new question:</h2>
<%= render 'form' %>
