<h1>UserMailer#signup_confirmation</h1>

<p>
  <%= @greeting %>, You have succesfully created an account and this is your html email.
</p>

<h2>In case you are an idiot, your email is <%= @user.email %>.  Idiot.</h2>
